.container{
  @apply flex items-center justify-center p-4 sm:px-20 sm:py-40;
}
main{
  @apply max-w-lg w-full sm:w-[600px] border rounded-md p-4 relative;
}
.step{
  @apply absolute top-0 right-0 text-nowrap p-4;
}
form{
  @apply pt-9;
}
.actions{
  @apply flex gap-4 justify-end mt-6;
}
button{
  @apply px-4 py-2 rounded-md border border-gray-600 hover:bg-gray-100 active:scale-95;
}